#book-list {
  display: block;
  padding: 6px;
}

table {
  width: 100%;
  margin: 0;
}

#book-list td {
  display: block;
  margin-bottom: 6px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 12px 0;
}

.info {
  display: block;
  margin-bottom: 6px;
}

#divider {
  border-bottom: 1px solid gray;
  width: 100%;
  height: 0;
}
