body {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 0 1rem;
}

.logo {
  font-weight: bold;
}

.navList {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#booksInput {
  display: none;
}

#inputForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}

.table {
  width: 100%;
  margin: 0;
  min-height: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

.info {
  display: block;
  margin-bottom: 6px;
}

tr:nth-child(1n) {
  background-color: white;
}

tr:nth-child(2n) {
  background-color: lightgray;
}

td:nth-child(3n) {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 1rem;
}

.table {
  border: 2px solid black;
}

.divider {
  margin-top: 2rem;
  border-bottom: 5px solid black;
}

.form-btn {
  align-self: flex-end;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 22%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 50%;
  margin: 0.5rem;
  padding: 1rem;
}

#contactForm {
  display: none;
}

